# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/material_theme_project_new.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/sonarlint/
.idea/sonarlint*.xml

# Gradle
.gradle/
.idea/**/gradle.xml
.idea/**/libraries
 
# Gradle and Maven with auto-import
.idea/modules.xml
.idea/*.iml
.idea/modules
.idea/compiler.xml
build/
